@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto Slab', serif;
    background-color: #082032;
}

header{
    color: white;
    font-size: 30px;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background-image: url(../imgs/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.select-date{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 20px;
}

.select-date > input{
    width: 10%;
    height: 40%;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
}

/*------------- Styling the tables where the Games Scheduled will be displayed --------------------------------*/

.tables {
    width: 100%;
    height : 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.tables .table-heads th {
    color: #16C79A;
    font-size: 18px;
}
.tables .table-games td {
    color: #F4F6FF;
    font-size: 16px;
}

.table-heads th, .table-games td {
    width: 200px;
    text-align:center;
    padding: 5px;
}

.table-heads th:nth-child(2), .table-games td:nth-child(2){
    width: 100px;
}

.table-heads th:nth-child(4), .table-games td:nth-child(4){
    width: 280px;
}

.tables table{
    border-collapse: collapse;
}

/*------------- Styling the tables where the results of the Games will be displayed --------------------------------*/


.tables .table-results th {
    color: #16C79A;
    font-size: 18px;
}
.tables .table-results td {
    color: #F4F6FF;
    font-size: 16px;
}

.table-results th, .table-results td {
    width: 170px;
    text-align:center;
    padding: 5px;
}

.table-results th:nth-child(3), .table-results td:nth-child(3){
    width: 130px;
}

.table-results th:nth-child(4), .table-results td:nth-child(4), .table-results th:nth-child(5), .table-results td:nth-child(5){
    width: 170px;
}


/*------------- Styling the tables where the satistics will be displayed --------------------------------*/

.stats-container{
    margin-top: 100px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stats-container h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    width: 100%;
}

.stats-container .table-sts{
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.table-sts table, .table-sts th, .table-sts td{
    border: 1px solid #787A91;
    border-collapse: collapse;
    word-wrap:break-word; 
    table-layout: fixed;  
}

.tables .table-sts th, .tables .table-sts td {
    width: 10px;
    text-align:center !important; 
}

.tables .table-sts th:nth-child(2), .tables .table-sts td:nth-child(2) {
    width: 150px;
}


.tables .table-sts th {
    color: #16C79A;
    font-size: 18px;
    padding: 10px;
}
.tables .table-sts td {
    color: #F4F6FF;
    font-size: 16px;
    padding: 10px;
}

/* Hiding the index column that was created by Panadas DataFrame in Python */
.table-sts table tbody tr td:nth-child(1), .table-sts table thead tr th:nth-child(1){
    display: none;
}

.animation-loading{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    margin-top: 30px;
}

.hide{
    display: none;
}


/*------------------------------ Media queries for responsive design ----------------------------------------*/

@media screen and (max-width: 750px) {
    header{
        font-size: 15px;
    }

    .select-date{
        flex-direction: column;
    }

    .select-date > input{
        width: 50%;
        margin-left: 0;
        margin-top: 10px;
    }

    /* Table Games */
    .tables{
        margin-top: 40px;
    }

    .tables .table-heads th {
        font-size: 12px;
    }
    .tables .table-games td {
        font-size: 10px;
    }
    
    .table-heads th, .table-games td {
        width: 50px;
        padding: 5px;
    }
    
    .table-heads th:nth-child(1), .table-games td:nth-child(1){
        width: 130px;
    }

    .table-heads th:nth-child(2), .table-games td:nth-child(2){
        width: 50px;
    }
    
    .table-heads th:nth-child(3), .table-games td:nth-child(3){
        width: 130px;
    }

    .table-heads th:nth-child(4), .table-games td:nth-child(4){
        width: 150px;
    }


    /* Tables satistics */

    .stats-container h2 {
        font-size: 15px;
    }
    
    .stats-container .table-sts{
        width: 100%;
    }

    .stats-container .table-sts table{
        width: 100%;
    }
    
    .tables .table-sts th:nth-child(2), .tables .table-sts td:nth-child(2) {
        width: 30px;
    }
    
    .tables .table-sts th {
        font-size: 10px;
        padding: 3px;
    }
    .tables .table-sts td {
        font-size: 8px;
        padding: 3px;
    }
    

}